*{
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
  gap:1rem;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
